syntax: glob
*.cache
*.suo
bin
obj
ml_temp_*.xml
_ReSharper.*
*.user
AxCrypt.Desktop.Window/Properties/AssemblyInfo.cs
AxCrypt.Core/Properties/AssemblyInfo.cs
*.resources
*.userprefs
*/test-results/*
*.orig
*.pidb
test-results/*
*.DotSettings
.git
*.gitignore
AxCrypt.Core.Test/*.tmp
*.bak
*.resolve
*.psess
UpgradeLog.htm
TestResults/*
TestResult.xml
AxCrypt.NET.sdf
.vs/config/applicationhost.config
cov-int/*
AxCrypt.NET.VC.db
AxCrypt.NET.VC.VC.opendb
AxCrypt.VisualState.xml
.vs
.DS_Store
/Xecrets.File.Cli/TestCli/win-x64/.wget-hsts
/Xecrets.File.Cli/TestCli/win-x64/Photos/*.axx
/Xecrets.File.Cli/TestCli/win-x64/public-keys.txt
/Xecrets.File.Cli/TestCli/win-x64/svante@axantum.com-key-pair.axx
/Xecrets.File.Cli/TestCli/win-x64/svante@axantum.com-public-key.txt
/Xecrets.File.Cli/TestCli/win-x64/thfg(2).mp4
/Xecrets.File.Cli/TestCli/win-x64/*.axx
/Xecrets.File.Cli/TestCli/win-x64/*.mp4
/Xecrets.File.Cli/TestCli/win-x64/Photos
/Xecrets.File.Cli/TestCli/win-x64/thfg-mp4
/Xecrets.File.Cli/Properties/AssemblyVersion.cs
/Xecrets.File.Cli/TestCli/Photos/*.axx
/Xecrets.File.Cli/TestCli/win-x64/private.pem
/Xecrets.File.Cli/TestCli/win-x64/public.pem
/Xecrets.File.Cli/TestCli/win-x64/xflicense.txt
